<html>
    <div class="nav" id="navbar">
        <nav class="nav__container">
            <div>
                <a href="" class="nav__link nav__logo">
                    
                    <span class="nav__logo-name"><img src="{{BASE_URL}}/new_logo.png"/></span>
                </a>

                <div class="nav__list">
                    <div class="nav__items">
                        <h3 class="nav__subtitle">Profile</h3>

                        <a href="" class="nav__link active navigation_link" data-view="main_content">
                            <i class='fa fa-home'  style="font-size: 30px;"></i>
                            <span class="nav__name">Home</span>
                        </a>
                        
                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                               &nbsp; <i style="font-size: 24px;" class="fa fa-gear"></i>
                                <span class="nav__name"> Settings</span>
                                <i class=''></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                   &nbsp; <a href="servicemeta" class="fa fa-edit navigation_link" data-view="create_doc"> &nbsp; राजश्व मुख्य शिर्षक थप</a>
                                   &nbsp; <a href="addservice" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;राजश्व शिर्षक थप</a>
                                   &nbsp; <a href="addfy" class="fa fa-edit navigation_link" data-view="create_doc"> &nbsp;आर्थिक वर्ष </a>
                                   &nbsp; <a href="rasidallocation" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;रसिद बाँडफाँड</a>
                                   &nbsp; <a href="addoffice" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;कार्यालय थप्नुहोस्</a>
                                   &nbsp; <a href="assign" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;कार्यालय जोड्नुहोस्</a>
                                </div>
                            </div>
                        </div>
                            <!--
                        <a href="#" class="nav__link">
                           &nbsp; <i class=' fa fa-comment' ></i>
                            <span class="nav__name">Messages</span>
                        </a> -->
                    </div>

                    <div class="nav__dropdown">
                        <a href="#" class="nav__link">
                          &nbsp;  <i class='fa  fa-file' ></i>
                            <span class="nav__name">विश्लेषण</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>

                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
                                &nbsp; <a href="estimate" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;राजश्व प्रक्षेपण</a>
                                &nbsp; <a href="analysis" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;Analytics</a>

                               
                            </div>
                        </div>

                    </div>

                    <div class="nav__items">
                        <!--                       <h3 class="nav__subtitle">Menu</h3>-->

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                              &nbsp;  <i class='fa fa-user' ></i>
                                <span class="nav__name">प्रयोगकर्ता</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    &nbsp; <a href="accountsettings" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;खाता ब्यवस्थापन</a>
                                    &nbsp; <a href="assign" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;ब्यवस्थापन</a>

                                   
                                </div>
                            </div>

                        </div>

                        
                            <!--
                        <a href="#" class="nav__link">
                            <i class='bx bx-compass nav__icon' ></i>
                            <span class="nav__name">Explore</span>
                        </a>
                        <a href="#" class="nav__link">
                            <i class='bx bx-bookmark nav__icon' ></i>
                            <span class="nav__name">Saved</span>
                        </a> -->
                    </div>
                </div>
            </div>

            <a href="#" class="nav__link nav__logout">
                <i class='bx bx-log-out nav__icon' ></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>


</html>