{% load static %}
{% static "icons" as BASE_URL %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <script src="{% static 'scripts/jquery.js' %} "></script>    
        <script src="{% static 'boot/js/bootstrap.js' %} "></script>    
        <script src="{% static 'scripts/popper.js' %} "></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'mainmenu/css/styles.css' %}">

        <title>Lekbeshi RMS </title>


        <style>

            .view{
                position: absolute;
                left: 5%;
                top: 10%;
                width: 90%;
                height: 90%;
                display: none;
            }
            .current{
                display: block;
            }


label{display: block;padding: 20px 0 5px 0;}



        </style>
    </head>
    <body>
        <!--========== HEADER ==========-->
		{% if request.user.is_authenticated %}
		<header class="header">
            <div class="header__container">
                <img src="assets/img/perfil.jpg" alt="" class="header__img">

				<div id="user_info" style="position: absolute; left: 90%;">{{request.user.username}}
					<a href="user/logout">logout</a>
				</div>

                <a href="" class="header__logo navigation_link">Revenue management sytem </a>
               
				<form class="form-inline" action="search" method="POST">
					{% csrf_token %}
					<div class="header__search">
						<input type="search" id="dms_search" name="dms_search" placeholder="Search" class="header__input">
						<a href="#" data-toggle="modal" data-target="#myModal"><i class=" fa fa-ellipsis-v"></i></a>
					</div>
					<button class="btn btn-default"  type="submit" name="btn_search"><i class="fa fa-search"></i></button>
				</form>
    
                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>
            </div>
        </header>

		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Search</h4>
				</div>
				<div class="modal-body">
					
						
						<input type="text" value="२०७३-२-२३" name="date" id="from-picker">
					
					
						<input type="text" value="" name="date" id="to-picker">
				
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			  </div>
			  
			</div>
		  </div>
		  
		</div>
		

        <!--========== NAV ==========-->
        {% if request.user.is_superuser %}

        {% block adminmenu %}
        {% include "revenue/adminmenu.html" %}
        {% endblock %}

        {% else %}

        {% block menu %}
        {% include "revenue/menu.html" %}
        {% endblock %}
        {% endif %}
        <!--========== CONTENTS ==========-->
        <main>
            <div id="main_content" class="view" style="left:8%;">

				
				<div id="darta_section" class="current view container">

                    <B>You are Currently, logged in as Admin!!</B>
                    <p>Navigate to left navigation panel and do needful.</p>
				
                </div>
				

            </div>
            
        </main>


        <!-- Rasid Cancel modal-->

        <div class="modal" id="disablemodal">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">रसिद रद्द</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                 <form class="form" action="disablebill" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>रसिद नं</label>
                        <input type="text" id="cancel_rasid" name="rasid_to_cancel" value="" readonly style="border: none; width: 50px;"/><br>
                        <label>विस्तृत विवरण</label>
                        <textarea name="cancellation_reason" class="form-control"></textarea>
                    </div>
                 
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <input type="submit" class="btn btn-danger" value="पेश गर्नुहोस्"/>
                </div>
            </form>
          
              </div>
            </div>
          </div>

		{% endif %}
        <!--========== MAIN JS ==========-->
        <script src="{% static 'mainmenu/js/main.js' %}"></script>

        <script src="{% static 'table/datatables.min.js' %}"></script>
       
		<script src="{% static 'datepicker/nepaliDatePicker.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'datepicker/nepaliDatePicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'font/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'table/datatables.min.css' %}">
    </body>

    <script>
		/**
		* Section visible logic
		**/
			var now
            $(document).ready(function(){

				 now = $("#main_content").addClass('current');
                $('.navigation_link').click(function(e){
					now.removeClass('current');
                   view = $(this).data("view");
                 $('#'+view).addClass('current');
				 now = $("#"+view)
                });
            t=$("#current_rasid_en").val()
			$("#current_rasid_np").val(calendarFunctions.getNepaliNumber(parseInt(t)))
            $("#office_details").DataTable();

            $('[data-toggle="tooltip"]').tooltip(); 
            });

	
 </script>
</html>