{% load static %}
{% load mathfilters %}
{% static "icons" as BASE_URL %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <script src="{% static 'scripts/jquery.js' %} "></script>
        <script src="{% static 'boot/js/bootstrap.js' %} "></script>    
        <script src="{% static 'scripts/popper.js' %} "></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'dms/css/styles.css' %}">

        <title>Lekbeshi RMS </title>


        <style>

            .view{
                position: absolute;
                left: 5%;
                top: 10%;
                width: 90%;
                height: 90%;
                display: none;
            }
            .current{
                display: block;
            }



        </style>
    </head>
    <body>
        <!--========== HEADER ==========-->
		{% if request.user.is_authenticated %}
		<header class="header">
            <div class="header__container">
                <img src="assets/img/perfil.jpg" alt="" class="header__img">

				<div id="user_info" style="position: absolute; left: 90%;">{{request.user.username}}
					<a href="user/logout">logout</a>
				</div>

                <a href="#" class="header__logo navigation_link">Lekbeshi Municipality RMS </a>
               
				<form class="form-inline" action="archivesearch" method="POST">
					{% csrf_token %}
					<div class="header__search">
						<input type="search" id="dms_search" name="dms_search" placeholder="Search" class="header__input">
						<a href="#" data-toggle="modal" data-target="#myModal"><i class=" fa fa-ellipsis-v"></i></a>
					</div>
					<button class="btn btn-default"  type="submit" name="btn_search"><i class="fa fa-search"></i></button>
				</form>
    
                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>
            </div>
        </header>

		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Search</h4>
				</div>
				<div class="modal-body">
					
						
						<input type="text" value="२०७३-२-२३" name="date" id="from-picker">
					
					
						<input type="text" value="" name="date" id="to-picker">
				
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			  </div>
			  
			</div>
		  </div>
		  
		</div>
		

        <!--========== NAV ==========-->
        {% block menu %}
            {% include "revenue/menu.html" %}
        {% endblock %}
        <!--========== CONTENTS ==========-->
        <main>
            <div id="main_content" class="view" style="left:8%;">

				
				<div id="darta_section" class="current view">
					<div class="container">
						<form class="form" action="rasidallocation" method="POST">
							{% csrf_token %}
							{% block content%}
	
							{% for field in rform %}

							<div class="form-group">
								
								{{field.label_tag }}{{ field }}
							</div>

							{% endfor %}
	
						{% endblock %}

						<input type="submit" name="addFY" value="Go"/>

						</form>

						<hr>
						Active Rasids
						<table  class = "table" id="rasid_allocation_table">
							<thead>
								<tr>
									<td>आ व</td>
									<td>कार्यालय</td>
									<td>सुरु रसिद</td>
									<td>अन्तिम रसिद</td>
									<td>अहिलेको रसिद नं</td>
									<td>कार्य</td>
								</tr>
							</thead>
							<tbody>
								{% for x in d %}

								<form id="f{{x.id}}" action="rasidmanagement" method="POST" >
									{% csrf_token %}
									<tr>
										<td>{{x.fyRef__fy_np}}</td>
										<td>{{x.officeRef__officeName}}</td>
										<td>{{x.lowerRasid}}</td>
										<td>{{x.upperRasid}}</td>
										<td>{{x.currentRasid}} <input type="hidden" name="rasid_id" value="{{x.id}}"/></td>
										<td><a href="#" data-ref ="{{x.id}}" class="disablerasid" style="color:red;"><i class="fa fa-minus-circle" ></i></a></td>
									</tr>
								</form>

								{% endfor %}
							</tbody>
						</table>

						<hr>
						Disabled Rasids:
						<table  class = "table" id="rasid_allocation_table">
							<thead>
								<tr>
									<td>आ व</td>
									<td>कार्यालय</td>
									<td>सुरु रसिद</td>
									<td>अन्तिम रसिद</td>
									<td>अहिलेको रसिद नं</td>
									<td>कार्य</td>
								</tr>
							</thead>
							<tbody>
								{% for x in e %}

								<form id="f{{x.id}}" action="rasidmanagement" method="POST" >
									{% csrf_token %}
									<tr>
										<td>{{x.fyRef__fy_np}}</td>
										<td>{{x.officeRef__officeName}}</td>
										<td>{{x.lowerRasid}}</td>
										<td>{{x.upperRasid}}</td>
										<td>{{x.currentRasid}} <input type="hidden" name="rasid_id" value="{{x.id}}"/></td>
										<td><a href="#" data-ref ="{{x.id}}" class="disablerasid" style="color:red;"><i class="fa  fa-undo" ></i></a></td>
									</tr>
								</form>

								{% endfor %}
							</tbody>
						</table>
					</div>
					
				</div>
				
                
            </div>
            
            
        </main>

		{% endif %}
        <!--========== MAIN JS ==========-->
        <script src="{% static 'dms/js/main.js' %}"></script>
		<script src="{% static 'datepicker/nepaliDatePicker.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'datepicker/nepaliDatePicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'font/css/font-awesome.css' %}">
    </body>

    <script>

		/**
		* Section visible logic
		**/
			var now
            $(document).ready(function(){

				 now = $("#main_content").addClass('current');
                $('.navigation_link').click(function(e){
					now.removeClass('current');
                   view = $(this).data("view");
                 $('#'+view).addClass('current');
				 now = $("#"+view)
                });
			});

	
		$(".disablerasid").click(function(e){
			f = 'f'+$(this).data('ref')
			form = $('#'+f)
			form.submit()
		})

 </script>
</html>