{% load static %}
{% load mathfilters %}
{% static "icons" as BASE_URL %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <script src="{% static 'scripts/jquery.js' %} "></script>
        <script src="{% static 'boot/js/bootstrap.js' %} "></script>    
        <script src="{% static 'scripts/popper.js' %} "></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'mainmenu/css/styles.css' %}">

        <title>Lekbeshi RMS </title>


        <style>

            .view{
                position: absolute;
                left: 5%;
                top: 10%;
                width: 90%;
                height: 90%;
                display: none;
            }
            .current{
                display: block;
            }



        </style>
    </head>
    <body>
        <!--========== HEADER ==========-->
		{% if request.user.is_authenticated %}
		<header class="header">
            <div class="header__container">
                <img src="assets/img/perfil.jpg" alt="" class="header__img">

				<div id="user_info" style="position: absolute; left: 90%;">{{request.user.username}}
					<a href="user/logout">logout</a>
				</div>

                <a href="#" class="header__logo navigation_link">Revenue management ystem </a>
               
				<form class="form-inline" action="archivesearch" method="POST">
					{% csrf_token %}
					<div class="header__search">
						<input type="search" id="dms_search" name="dms_search" placeholder="Search" class="header__input">
						<a href="#" data-toggle="modal" data-target="#myModal"><i class=" fa fa-ellipsis-v"></i></a>
					</div>
					<button class="btn btn-default"  type="submit" name="btn_search"><i class="fa fa-search"></i></button>
				</form>
    
                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>
            </div>
        </header>

		
		

        <!--========== NAV ==========-->
        <div class="nav" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="" class="nav__link nav__logo">
                        
                        <span class="nav__logo-name"><img src="{{BASE_URL}}/new_logo.png"/></span>
                    </a>
    
                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Profile</h3>
    
                            <a href="" class="nav__link active navigation_link" data-view="main_content">
                                <i class='fa fa-home'  style="font-size: 30px;"></i>
                                <span class="nav__name">Home</span>
                            </a>
                            
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                   &nbsp; <i style="font-size: 24px;" class="fa fa-gear"></i>
                                    <span class="nav__name"> Settings</span>
                                    <i class=''></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                       &nbsp; <a href="servicemeta" class="fa fa-edit navigation_link" data-view="create_doc"> &nbsp; राजश्व मुख्य शिर्षक थप</a>
                                       &nbsp; <a href="addservice" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;राजश्व शिर्षक थप</a>
									   &nbsp; <a href="addfy" class="fa fa-edit navigation_link" data-view="create_doc"> &nbsp;आर्थिक वर्ष </a>
                                       &nbsp; <a href="rasidallocation" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;रसिद बाँडफाँड</a>
                                       &nbsp; <a href="addoffice" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;कार्यालय थप्नुहोस्</a>
                                       &nbsp; <a href="assign" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;कार्यालय जोड्नुहोस्</a>
                                    </div>
                                </div>
                            </div>
                                <!--
                            <a href="#" class="nav__link">
                               &nbsp; <i class=' fa fa-comment' ></i>
                                <span class="nav__name">Messages</span>
                            </a> -->
                        </div>

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                              &nbsp;  <i class='fa  fa-file' ></i>
                                <span class="nav__name">विश्लेषण</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    &nbsp; <a href="estimate" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;राजश्व प्रक्षेपण</a>
                                    &nbsp; <a href="analysis" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;Analytics</a>

                                   
                                </div>
                            </div>

                        </div>
    
                        <div class="nav__items">
                            <!--                       <h3 class="nav__subtitle">Menu</h3>-->
    
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                  &nbsp;  <i class='fa fa-user' ></i>
                                    <span class="nav__name">प्रयोगकर्ता</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        &nbsp; <a href="accountsettings" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;खाता ब्यवस्थापन</a>
                                        &nbsp; <a href="assign" class="fa fa-edit navigation_link" data-view="darta_chalani"> &nbsp;ब्यवस्थापन</a>

                                       
                                    </div>
                                </div>

                            </div>

                            
                                <!--
                            <a href="#" class="nav__link">
                                <i class='bx bx-compass nav__icon' ></i>
                                <span class="nav__name">Explore</span>
                            </a>
                            <a href="#" class="nav__link">
                                <i class='bx bx-bookmark nav__icon' ></i>
                                <span class="nav__name">Saved</span>
                            </a> -->
                        </div>
                    </div>
                </div>

                <a href="#" class="nav__link nav__logout">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>
        <!--========== CONTENTS ==========-->
        <main>
            <div id="main_content" class="view" style="left:8%;">

				
				<div id="darta_section" class="current view">

					<div class="container">
						<form class="form" action="" method="POST">
							{% csrf_token %}


							{% block content%}
	
							{% for field in xform %}

							<div class="form-group">
								
								{{field.label_tag }} {{ field }}
							</div>

							{% endfor %}
	
						{% endblock %}

						<input type="submit" name="addGuide" value="Go"/>
						</form>
					</div>

					
				</div>
				
           </div>
            
        </main>

		{% endif %}
        <!--========== MAIN JS ==========-->
        <script src="{% static 'mainmenu/js/mainmenuscript.js' %}"></script>
     
		<script src="{% static 'datepicker/nepaliDatePicker.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'datepicker/nepaliDatePicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'slider/theme.css' %}">
        <link rel="stylesheet" href="{% static 'font/css/font-awesome.css' %}">
    </body>

    <script>













		/**
		* Section visible logic
		**/
			var now
            $(document).ready(function(){

				 now = $("#main_content").addClass('current');
                $('.navigation_link').click(function(e){
					now.removeClass('current');
                   view = $(this).data("view");
                 $('#'+view).addClass('current');
				 now = $("#"+view)
                });
			

            });

		/**
		*Calendar functions 
		*
		**/	

		var currentDate = new Date();
var currentNepaliDate = calendarFunctions.getBsDateByAdDate(currentDate.getFullYear(), currentDate.getMonth() + 1, currentDate.getDate());
var formatedNepaliDate = calendarFunctions.bsDateFormat("%y-%m-%d", currentNepaliDate.bsYear, currentNepaliDate.bsMonth, currentNepaliDate.bsDate);
$("#t_date_new").nepaliDatePicker({
    dateFormat: "%y-%m-%d",
    closeOnDateSelect: true,
    minDate: "२०७०-१-२०",
    maxDate: formatedNepaliDate
});
$("#t_date_new").val(formatedNepaliDate)


var d = new Date();
//var strDate = d.getFullYear() + "/" + (d.getMonth()+1) + "/" + d.getDate();
console.log(d)

//console.log(calendarFunctions.bsDateFormat("%y %M", 2074, 11, 9));
nepdate = calendarFunctions.getBsDateByAdDate(d.getFullYear(), d.getMonth()+1, d.getDate())

tag_year_month = calendarFunctions.bsDateFormat("%y %M", nepdate.bsYear, nepdate.bsMonth, nepdate.bsDate);
tag_year = calendarFunctions.bsDateFormat("%y", nepdate.bsYear, nepdate.bsMonth, nepdate.bsDate);
tag_month = calendarFunctions.bsDateFormat("%M", nepdate.bsYear, nepdate.bsMonth, nepdate.bsDate);
tag_month_day = calendarFunctions.bsDateFormat("%M %d", nepdate.bsYear, nepdate.bsMonth, nepdate.bsDate);


       
		/**
		* Tags logic
		*/
		function refresh(){

alert("")

}

 
 </script>
</html>