{% load static %}
{% load mathfilters %}
{% static "icons" as BASE_URL %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <script src="{% static 'scripts/jquery.js' %} "></script>

        <script src="{% static 'dms/editor/tinymce/tinymce.min.js' %} "></script>    
        <script src="{% static 'dms/editor/editoroptions.js' %} "></script>    
        <script src="{% static 'boot/js/bootstrap.js' %} "></script>    
        <script src="{% static 'scripts/popper.js' %} "></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'dms/css/styles.css' %}">

        <title>Lekbeshi RMS </title>


        <style>

            .view{
                position: absolute;
                left: 5%;
                top: 10%;
                width: 90%;
                height: 90%;
                display: none;
            }
            .current{
                display: block;
            }



        </style>
    </head>
    <body>
        <!--========== HEADER ==========-->
		{% if request.user.is_authenticated %}
		<header class="header">
            <div class="header__container">
                <img src="assets/img/perfil.jpg" alt="" class="header__img">

				<div id="user_info" style="position: absolute; left: 90%;">{{request.user.username}}
					<a href="user/logout">logout</a>
				</div>

                <a href="#" class="header__logo navigation_link">Revenue management ystem </a>
               
				<form class="form-inline" action="archivesearch" method="POST">
					{% csrf_token %}
					<div class="header__search">
						<input type="search" id="dms_search" name="dms_search" placeholder="Search" class="header__input">
						<a href="#" data-toggle="modal" data-target="#myModal"><i class=" fa fa-ellipsis-v"></i></a>
					</div>
					<button class="btn btn-default"  type="submit" name="btn_search"><i class="fa fa-search"></i></button>
				</form>
    
                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>
            </div>
        </header>

		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Search</h4>
				</div>
				<div class="modal-body">
					
						
						<input type="text" value="२०७३-२-२३" name="date" id="from-picker">
					
					
						<input type="text" value="" name="date" id="to-picker">
				
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			  </div>
			  
			</div>
		  </div>
		  
		</div>
		

        <!--========== NAV ==========-->
        {% block menu %}
        {% include "revenue/menu.html" %}
    {% endblock %}
        <!--========== CONTENTS ==========-->
        <main>
            <div id="main_content" class="view" style="left:8%;">

				
				<div class="current view">
                    <a href="" data-toggle="collapse" data-target="#inactive_users_rep">नयाँ खाता अनुरोध &nbsp; <span>{{inactive.count}}</span></a>

                  <div id="inactive_users_rep" class="collapse">

                    {% if inactive.count > 0 %}

                  
                    <B>Inactive users</B>
 
                    <table class="table">
                        <thead>
                            <th>नाम</th>
                            <th>कार्यालय</th>
                            <th>संकेत नं</th>
                            <th>मोबाईल नं</th>
                            <th>कार्यहरु</th>
                            
                        </thead>
                        <tbody>
                            {% for i in inactive%}
 
                            <form id="f_{{i.id}}" method="POST" action="accountar">
                                {% csrf_token %}
                                <tr>
 
                                    <td>{{i.first_name}}&nbsp{{i.last_name}}</td>
                                    <td>{{i.profile.desc}}</td>
                                    <td>{{i.profile.sanketNo}}</td>
                                    <td>{{i.profile.contactNo}}</td>
                                    <td><a class="utask" href = "#" data-task="add" data-ref="{{i.id}}"><i class="fa fa-user-plus"></i></a> &nbsp;<a  class = "utask" href = "#" data-task="remove" data-ref="{{i.id}}" style="color: red;"><i class="fa fa-user-times"></i></a></td>
                                </tr>
                                <input type="hidden" name="ref" value="{{i.id}}"/>
                                <input type="hidden" id="task_submit" name="task" value=""/>
                            </form>
                            {% endfor %}
                        </tbody>
                    </table>
 
                  </div>
                  <hr>

                  {% else %}

                  <div class="alert alert-success">
                    <strong><i class="fa fa-check-circle"></i></strong> No pending tasks.
                  </div>
                   {% endif %}
					<div class="container">
						<form class="form-inline" action="" method="POST">
							{% csrf_token %}


							{% block content%}
	
							{% for field in uform %}

							<div class="form-group">
								
								&nbsp;{{field.label_tag }} &nbsp;{{ field }}
							</div>

							{% endfor %}
	
						{% endblock %}

						<input type="submit" name="addFY" value="Go"/>
						</form>
					</div>

					<hr>

                    <table class="table" id="allocationtable">

                        <thead>
                            <tr>
                                <td>कर्मचारी</td>
                                <td>कार्यालय</td>
                                <td>कार्य</td>
                            </tr>
                        </thead>

                        <tbody>

                            {% for x in d%}
                            <tr>
                                <td>{{x.uRef__first_name}}</td>
                                <td>{{x.offRef__officeName}}</td>
                                <td>-</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
				</div>
				

				
                

            </div>
            
            
        </main>

		{% endif %}
        <!--========== MAIN JS ==========-->
        <script src="{% static 'dms/js/main.js' %}"></script>
        <script src="{% static 'scannerjs/scanner.js' %} "></script>
		<script src="{% static 'datepicker/nepaliDatePicker.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'datepicker/nepaliDatePicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'slider/theme.css' %}">
        <link rel="stylesheet" href="{% static 'font/css/font-awesome.css' %}">
    </body>

    <script>













		/**
		* Section visible logic
		**/
			var now
            $(document).ready(function(){

				 now = $("#main_content").addClass('current');
                $('.navigation_link').click(function(e){
					now.removeClass('current');
                   view = $(this).data("view");
                 $('#'+view).addClass('current');
				 now = $("#"+view)
                });
			

            });

		/**
		*Calendar functions 
		*
		**/	

		var currentDate = new Date();
var currentNepaliDate = calendarFunctions.getBsDateByAdDate(currentDate.getFullYear(), currentDate.getMonth() + 1, currentDate.getDate());
var formatedNepaliDate = calendarFunctions.bsDateFormat("%y-%m-%d", currentNepaliDate.bsYear, currentNepaliDate.bsMonth, currentNepaliDate.bsDate);
$("#t_date_new").nepaliDatePicker({
    dateFormat: "%y-%m-%d",
    closeOnDateSelect: true,
    minDate: "२०७०-१-२०",
    maxDate: formatedNepaliDate
});
$("#t_date_new").val(formatedNepaliDate)



       
		/**
		* user management actions
		*/
		$(".utask").click(function(e){
            ref = $(this).data('ref')
            task = $(this).data('task')
            f = $("#f_"+ref)

            if(task == 'add'){

                $("#task_submit").val('approve')
            }else {
                $("#task_submit").val('reject')

            }

            f.submit();
            
        });

 
 </script>
</html>